<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fyp_clearcanvas">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Optional Feature: Remove 'required' to allow installation on devices without a camera -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYP_ClearCanvas"
        tools:targetApi="31">

        <!-- Metadata for CameraX -->
        <meta-data
            android:name="androidx.camera.lifecycle.ProcessCameraProvider"
            android:value="true" />

        <!-- Camera Activity -->
        <activity
            android:name=".CameraActivity"
            android:exported="false" />

        <!-- Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".SignUpActivity" android:exported="true" />
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".MenuActivity" android:exported="true" />
        <activity android:name=".GenderActivity" android:exported="true" />
        <activity android:name=".RecommendActivity" android:exported="true" />
        <activity android:name=".AnalyseMultipleActivity" android:exported="true" />
        <activity android:name=".AnalyseRoutineActivity" android:exported="true" />
        <activity android:name=".AnalyseTypeActivity" android:exported="true" />
    </application>
</manifest>
